# .gitignore

# 가상환경
venv/
.venv/
env/

# DB 파일 (데이터는 깃에 올리지 않음)
*.db
*.sqlite
*.sqlite3

# 로그
logs/
*.log

# ML 모델
ml/saved_models/*.pkl
ml/saved_models/*.h5
ml/saved_models/*.joblib

# Python 캐시
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# 환경 변수
.env
